.goal-item {
  display: flex;
}

.goal-item p {
  margin: 0;
  flex: 1;
}

.goals-header {
  display: flex;
  text-align: left;
  align-items: center;
}

.goals-header h2 {
  flex: 1;
  padding: 10px;
}

.goals-header button {
  align-self: center;
}

.goals-list {
  display: flex;
  text-align: center;
}

.goals-list > * {
  flex: 1;
}
