.grid {
  display: grid;
  grid-template-areas:
    "title title title"
    "start start start"
    "start start start"
    "profi goals stats"
    "profi goals stats"
    "profi quote stats"
    "profi quote stats";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10%;
  justify-items: center;
}
