.logo-top {
  position: absolute;
}

.homepage {
  display: flex;
  width: 80vw;
  max-height: 80vh;
  flex-direction: column;
  text-align: center;
  margin: auto;
  transition: all 0.3s;
}

.homepage-out-of-the-way {
  max-height: 95vh;
  transition: all 0.3s;
}

.homepage-main-content {
  overflow-y: scroll;
  flex: 1;
  min-height: 50vh;
}

.homepage-main-content > * {
  margin: 0 5%;
}

.grid {
  display: grid;
}

* {
  outline: 1px solid black;
}

.homepage nav {
  display: flex;
  margin-bottom: 10px;
  flex-shrink: 0;
}

nav a {
  flex: 1;
}

.nav-item {
  padding: 1em;
}
