.logo-top {
  position: absolute;
}

.homepage {
  grid-template-columns: 80vw;
  grid-template-rows: auto 65vh 10vh;
  grid-auto-flow: row;
  text-align: center;
  grid-gap: 10px;
}

.homepage-main-content {
  overflow-y: scroll;
}

.homepage-main-content > * {
  margin: 0 5%;
}

.grid {
  display: grid;
}

* {
  outline: 1px solid black;
}

.homepage nav {
  display: flex;
}

nav a {
  flex: 1;
}

.nav-item {
  padding: 1em;
}
