.homepage {
  grid-template-areas:
    "title title title"
    "start start start"
    "start start start"
    "profi goals stats"
    "profi goals stats"
    "profi quote stats"
    "profi quote stats";
  grid-template-columns: repeat(3, 20vw);
  grid-auto-rows: 6vh;
  text-align: center;
  grid-gap: 10px;
}

.grid {
  display: grid;
}

* {
  outline: 1px solid black;
}
