/* styles for labels and inputs in the profile form can be found in SignIn.css */

.profile-preview-container {
  grid-area: profi;
  display: grid;
  place-items: center;
}

.profile-preview {
  width: 98%;
  height: 98%;
  background: violet;
  transition: var(--homepage-hover-transition);
  cursor: pointer;
}

.profile-preview:hover {
  width: 100%;
  height: 100%;
}

.profile-page-container {
  margin: 0 10%;
}

.profile-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 75px);
}

.img-container {
  grid-area: 1 / 1 / span 4 / span 1;
}

.user-details {
  grid-area: 1 / 2 /span 4 / span 2;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.user-details p:nth-child(2n-1) {
  grid-column: 1/span 1;
  justify-self: right;
}

.complete-profile-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-height: 450px;
  transition: all 0.5s;
}

.title-banner {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
  border-bottom: 2px solid black;
}

.profile-alert-body {
  padding: 10px;
}

.profile-alert-body p {
  margin-bottom: 10px;
}

#complete-dob-input {
  color: transparent;
  transition: 0.1s;
}

.complete-profile-info {
  grid-template-columns: 1fr 1fr;
}

.complete-profile-questions {
  margin: 20px;
  grid-template-rows: 60px 1fr;
}

.complete-profile-questions h2 {
  border-bottom: 2px solid black;
  padding: 5px 0;
}

.complete-profile-questions p {
}
