.quote-of-the-day-container {
  display: grid;
  place-items: center;
}

.quote-of-the-day-preview {
  width: 99%;
  height: 99%;
  background: green;
  transition: var(--homepage-hover-transition);
}
