.showcase-container {
  /* overflow: hidden */
  height: 200px;
  display: grid;
  grid-template-rows: 10% 1fr 15%;
  grid-template-columns: 10% 1fr 10%;
  place-items: center;
}

.showcase-letterbox {
  grid-area: 2/ 2 /span 1/span 1;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 100%;
}

.target-container {
  height: 100%;
  white-space: nowrap;
  position: relative;
  transition: all 0.3s;
}

.showcase-controller {
  background: red;
  border-radius: 999em;
  height: 50px;
  width: 50px;
}

.move-left {
  grid-area: 2 / 1 / span 1 /span 1;
}

.move-right {
  grid-area: 2 / 3 / span 1 /span 1;
}

.showcase-dot-container {
  display: flex;
  grid-area: 3 / 2 / span 1 / span 1;
}

.showcase-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: blue;
  margin: 0 0.25em;
}

.active-dot {
  background: red;
}

.target {
  flex: 0;
  background: green;
  height: 100%;
  width: 200px;
  margin: 0 0.5em;
  display: inline-block;
}

.target-details {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.target-details h4 {
  align-self: center;
  padding: 0 0.5em;
}
