.form-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grouped-input {
  position: relative;
  display: flex;
}

form:not(.send-time-form) label {
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 20px;
  transition: all 0.3s;
}

form:not(.send-time-form) input {
  padding: 10px;
  margin: 20px;
  flex: 1;
}

form button {
  margin: 20px;
  padding: 10px;
}

.google-oauth {
  margin: 20px;
  text-align: center;
}
