.target-collection-container {
}

.target-collection-header {
  display: flex;
  align-items: center;
}

.target-collection-header h3 {
  flex: 1;
  padding: 1em;
}

.target-collection-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.target-collection-info label {
  flex: 1;
}
